body {
  text-align: center;
  background-color: #E6E6E6;
  color:#484B65;
}
h1 {
  font-size: 40px;
}

p,button {
  font-size: 18px;
}

.button-style {
  font-size: 30px;
  font-weight: 400;
  transition: all 2s;
  color:black;
}
